.category-options {
  width: 90%;
  margin: auto;
  font-family: "Poppins", serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 8%;
  padding-left: 0px;
}

.category-options li {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
}

.category-options a {
  text-decoration: none;
  color: inherit;
}

.category-options li:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: #e0e0e0;
}

.home-model-container {
  margin-top: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slick-slider {
  width: 300px;
}

.home-model-container img {
  border-radius: 20px;
  width: 100%;
  height: 400px;
  padding: 10px;
  object-position: center;
  object-fit: cover;
}

@media (max-width: 468px) {
  .category-options li {
    font-size: 0.9rem;
  }

  .slick-slider {
    width: 250px; /* Smaller width for small screens */
  }
}

@media (min-width: 1200px) {
  /* Increase slider size on large screens */
  .slick-slider {
    width: 600px; /* Adjust this value to suit your design */
  }

  .home-model-container img {
    height: 500px;
    object-position: center;
  }
}

@media (min-width: 1600px) {
  .slick-slider {
    width: 800px;
  }

  .home-model-container img {
    height: 600px;
    object-position: center;
  }
}
