.cart-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  align-items: center;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.remove-item-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  height: 30px;
  width: 140px;
}

.cart-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Media Query for small screens */
@media (max-width: 468px) {
  h3 {
    font-size: 16px; /* Decrease font size for small screens */
  }
  p {
    font-size: 14px;
    margin: 2px;
  }
}
