.cart-container {
  padding: 20px;
  max-width: 1200px;
  margin-bottom: 0px;
  padding-bottom: 50px;
  min-height: 80vh;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  align-items: center;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.empty-container {
  text-align: center;
  width: 100%;
}
.empty-container img {
  width: 100%;
}

.loading-container-cart {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.empty-container button {
  background-color: black;
  padding: 10px;
  color: white;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.remove-item-btn {
  background-color: #740938;
  color: white;
  border: none;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  height: 30px;
  width: 140px;
}

.cart-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Media Query for small screens */
@media (max-width: 468px) {
  h3 {
    font-size: 16px; /* Decrease font size for small screens */
  }
  p {
    font-size: 14px;
    margin: 2px;
  }
}
