* {
  font-family: "Poppins", serif;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.product-item {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 100%;
}

.product-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto 8px;
}

.product-item h2 {
  font-size: 1rem;
  margin: 8px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-item p {
  font-size: 1rem;
  margin: 8px 0;
  text-align: center;
}

.product-item button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.7rem;
  width: 200px;
  text-align: center;
  margin: auto;
  margin-top: auto;
}

@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
